<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
<%- include('./partials/header')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<form action="/" method="GET" class="form-edit">

				
				<input type="text" name="usuarioUsername" placeholder="Nombre de Usuario" class="form-input">

				<input type="password" name="usuarioContrasena" placeholder="Contraseña" class="form-input">

				<button type="submit">Ingresar a tu cuenta</button>
			</form>

	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>