<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
<%- include('./partials/header')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<% if (locals.errores) {%> 
				<%= errores.message  %>  <!-- agregarle una clase para css -->
			<% } %> 
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>

			<form action="/users/login" method="POST" class="form-edit">

				
				<input type="email" name="email" placeholder="Email" class="form-input">

				<input type="password" name="password" placeholder="password" class="form-input">

				<button type="submit">Ingresar a tu cuenta</button>

				<input class="checkbox" type="checkbox" id="check-recordarme" name="recordarme"/> 

				<label class="recordar" for="check-recordarme"> Recordarme </label>
			</form>

	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>