<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
<%- include('./partials/headerLogueado.ejs',{usuario: usuario.usuarioNombre})  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form action="/" method="GET" class="form-add">

				<input type="text" name="nombre" placeholder="Nombre" class="form-input">

				<input type="text" name="descripcion" placeholder="Descripcion" class="form-input">

				<input type="date" name="fecha" placeholder="Fecha" class="form-input">

				<input type="file" name="imagen" placeholder="Foto de perfil" class="form-input">

				<button type="submit">Agregar</button>
			</form>


	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>