<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
<%- include('./partials/header.ejs')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<form action="/store" enctype="multipart/form-data" method="POST" action="/product/product-store" class="form-add">

			<div><input type="text" name="name" value="" placeholder="Nombre" class="form-input"></div>

			<div><input type="file" name="image"value="" placeholder="Foto del producto" class="form-input"></div>

			<div><input type="text" name="brand" value="" placeholder="Marca" class="form-input"></div>

			<div><input type="text" name="descripcion" value="" placeholder="Descripcion" class="form-input"></div>
			<div><input type="hidden" name="descripcion" value="<%= locals.user.id %>" placeholder="Descripcion" class="form-input">
				<button type="submit">Agregar</button>
			</form>
		</div>

	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>