<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head')  %> 
<body>
	<!-- Header -->
<%- include('./partials/header')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<form action="/" method="GET" class="form-edit">

				<input type="text" name="usuarioNombre" placeholder="Nombre" class="form-input">

				<input type="text" name="usuarioApellido" placeholder="Apellido" class="form-input">

				<input type="text" name="usuarioUsername" placeholder="Nombre de Usuario" class="form-input">

				<input type="text" name="usuarioEmail" placeholder="E-Mail" class="form-input">

				<input type="password" name="usuarioContrasena" placeholder="Contraseña" class="form-input">

				<input type="date" name="usuarioNacimiento" class="form-input">

				<input type="text" name="usuarioDocumento" placeholder="DNI" class="form-input">

				<input type="file" name="usuarioImagen" placeholder="Foto de perfil" class="form-input">

				<button type="submit">Cambiar tus datos</button>
			</form>



	<!-- footer -->
<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>